.red{
    color: red;
    font-weight: 700;
}

body{
    background: #8e8989;
    color: rgb(0, 0, 0);
}

.my-btn{
    display: block;
    color: white;
    background: orange;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

main{
    min-height: 90vh;
}

footer{
    background-color: rgb(38, 38, 38);
    padding: 50px;
    color: #ffffff;
}
header{
    background-color: rgb(38, 38, 38);
    color: #ffffff;
}