{% extends 'base.html' %}
 
{% block title %}
<title>{{car[1],car[2]}}</title>
{% endblock title %}

{% block content %}
<!-- Вміст сторінки -->
<div class="container">
   <div class="row">
      <div class="col">
         <img style='width:100%;min-height:200px;'src="{{ url_for('static', filename='img/'+car[8]) }}"alt="...">
      </div>
      <div class="col">
         <h4>{{car[1]}}</h4>
         <h5>{{car[2]}}</h5>
         <h5>{{car[3] | safe}}</h5>
         <b>Характеристики:</b>
         <p>{{car[4] | safe}}</p>
         <p>{{car[5] | safe}}</p>
         <p>{{car[6] | safe}}</p>
         <p>{{car[7] | safe}}</p>
         <p>{{car[9] | safe}}</p>
         <p>{{car[10] | safe}}</p>

      </div>
      
   </div>
</div>
{% endblock content %}
