<div class="card" style="max-width: 25rem; min-height:22rem;">
  <div style="height:200px;" class="overflow-y-hidden">
    {% if car[8] %}
    <img style='min-height:200px;'src="{{ url_for('static', filename='img/'+car[8]) }}" class="card-img-top" alt="...">
    {% else %}
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="card-img-top" alt="...">
    {% endif %}
  </div>
    
      <div class="card-body">
        <h5 class="card-title">{{car[1]}}</h5>
        <p class="card-text overflow-y-hidden">{{car[2] | safe}}</p>
        <p class="card-text overflow-y-hidden">{{car[3] | safe}}</p>
        <p class="card-text overflow-y-hidden"style="height: 6rem;">{{car[10] | safe}}</p>
        <a href="{{ url_for('car', car_id=car[0])}}" class="btn btn-primary">Читати</a>
      </div>
    </div>