<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img class='me-3' src="/static/img/logo.png" width="35" height="35">
        car wiki</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Головна</a>
          </li>
          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{category[1]}}</a>
          </li>
          {% endfor %}
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BMW
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/car/1">M5 F10</a></li>
              <li><a class="dropdown-item" href="/car/2">M5 E34</a></li>
              <li><a class="dropdown-item" href="/car/3">M5 E39</a></li>
              <li><a class="dropdown-item" href="/car/4">M5 E60</a></li>
              <li><a class="dropdown-item" href="/car/5">M5 F90</a></li>
              <li><a class="dropdown-item" href="/car/6">M5 E28</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MERCEDES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/car/7">CLS63 W218</a></li>
              <li><a class="dropdown-item" href="/car/8">C63 W204</a></li>
              <li><a class="dropdown-item" href="/car/9">E63 W213</a></li>
              <li><a class="dropdown-item" href="/car/10">GT63 X290</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              AUDI
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/car/11">Audi RS6 C8</a></li>
              <li><a class="dropdown-item" href="/car/12">Audi RS7 C8</a></li>
              <li><a class="dropdown-item" href="/car/13">Audi A8 D4</a></li>
              <li><a class="dropdown-item" href="/car/14">SQ8 4MN</a></li>
            </ul>
          </li>
        </ul>
        <form action="  {{ url_for('search') }}" method="get" class="d-flex" role="search">
          <input required name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Пошук</button>
        </form>
      </div>
    </div>
  </nav>